/* CSS variables */
/* this is how to declare CSS variables  */
:root {
    --base: #ffc600;
    --spacing: 20px;
    --blur: 10px;
}

/* This is how to use CSS variables */
img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(Var(--blur));
}

.hl {
    color: var(--base);
}

/* ------------------------------------------- */
body {
    text-align: center;
    background: #221f1f;
    color: white;
    font-family: 'Bungee Shade', cursive;
    font-weight: 200;
    font-size: 40px;
}

.controls {
    margin: 50px;
}

input {
    width: 100px;
}

img {
    width: 700px;
    height: 500px;
}