body {
    text-align: center;
    background: #221f1f;
    color: white;
    font-family: 'Bungee Shade', cursive;
    font-weight: 200;
    font-size: 40px;
}

.controls {
    margin: 50px;
}

input {
    width: 100px;
}

img {
    width: 700px;
    height: 500px;
}